@import "./components/variable";

@mixin hover-box-shadow {
  box-shadow: 1px 3px 6px 0px rgba(34,36,38,.25)
}

$orange: rgba(242,113,28, 0.53);
$light-orange: rgba(242,113,28, 0.23);
$d-orange: rgba(242,113,28, 0.83);
$d-light-orange: rgba(242,113,28, 0.93);

html, body {
  height: 100%;
  margin: 0;
}

body {
  padding: 10px;
}

#pomodoro-app {
  height: 100%;
  padding-top: 36px;
  & .hide {
    display: none;
  }
}
#pomodoro-container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#pomodoro {
  &-task {
    border-top-color: $green-hover;
    // parent
    display: flex;
    flex-direction: column;

    // child
    flex-grow: 0;
    border-right-width: 0;
    width: 400px;

    &_items {
      padding: 1px;
      &::-webkit-scrollbar { width: 0 !important }
      transform: translateZ(0);
      margin-top: 0;
      overflow-y: auto;
      flex-grow: 1;
    }
  }
  &-today {
    // parent 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    // child
    flex-grow: 0;
    padding-bottom: 0;
    &-operate {
      margin-top: 10px;
      padding-bottom: 13px;
      &_group {
        float: right;
      }
    }
    &-list {
      padding: 1px;
      transform: translateZ(0);
      flex-grow: 1;
      margin-top: 0;
      margin-bottom: 0;
      &.empty {
        background: repeating-linear-gradient(-45deg, #fafafa, #fafafa 8px, white 2px, white 13px);
      }
      &::-webkit-scrollbar { width: 0 !important }
      min-height: 80px;
      overflow-y: auto;
    }
  }
  &-clock {
    transform: translateZ(0);
    // parent
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
    // child
    overflow-y: auto;
    flex-grow: 2;
  }
  &-note {
    margin-top: 20px;
    flex-grow: 1;
  }
}

.pomodoro-task {
  &_item {
    transition-property: box-shadow;
    transition-duration: 0.2s;
    &:hover {
      @include hover-box-shadow;
      i.pomodoro-task_item-content-pin.icon {
        opacity: 1;
      }
    }
    &.teal.ui.segment {
      border-top-color: $green-hover;
    }
    cursor: pointer;
    &.ui.segment:first-child {
      margin-top: 20px;
    }
    &.ui.segment {
      padding: 10px 36px 10px 10px;
    }
    &.assigned {
      background: #fafafa;
    }
    $height: 30px;
    overflow: hidden;
    font-size: 16px;
    border: 1px solid #ccc;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    min-height: $height;;
    vertical-align: middle;
    &:first-child {
      border-top-width: 1px;
    }
    &_tags {
      margin-top: 10px;
    }
    &_tag {
      &.selected {
        padding: 5px 10px;
        border-radius: 3px;
      }
      &:first-child {
        margin-left: 3px;
      }
      opacity: .95;
      border-radius: 1px;
      // text-shadow: 0px 0px 1px #666;
      color: #fff;
      font-weight: light;
      font-size: 12px;
      margin-right: 4px;
      line-height: 1.1em;
      padding: 2px 5px;
    }
    &-content {
      margin-bottom: 0.6em;
      word-wrap: break-word;
      word-break: normal;
      margin-right: 30px;
      &-pin.icon.pin {
        transition-property: opacity;
        transition-duration: 1s;
        position: absolute;
        top: 15px;
        right: 40px;
        color: #aaa;
        &.fixed {
          color: #888;
          transform: rotate(0deg);
          opacity: 1;
        }
        // display: none;
        opacity: 0;
        transform: rotate(45deg);
      }
      &-edit {
        cursor: pointer;
        width: 100%;
        padding: 5px;
        &:focus {
          outline: 1px solid #ececec;
        }
        border: 0;
      }
      &_delete {
        position: absolute;
        top: 12px;
        right: 3px;
        &.ui.label > .icon {
          margin: 0;
        }
        float: right;
      }
    }
    &_remove {
      float: right;
    }
  }
}

.pomodoro-today-list {
  &_summary.ui.orange.button {
    &:hover {
      background: $d-light-orange;
    }
    background: $d-orange;
  }
  &_operate {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 3px;
    .ui.label {
      &:hover {
        cursor: pointer;
      }
    }
    .ui.label > .icon {
      margin: 0;
    }
    &_close {
      background: #bdbdbd!important;
    }
  }
  &_item {
    transition-property: box-shadow;
    transition-duration: 0.2s;
    &.ui.segment:last-child {
      margin-bottom: 20px;
    }
    &:hover {
      .pomodoro-today-list_timer-edit {
        opacity: 1;
      }
      @include hover-box-shadow;
    }
    cursor: pointer;
    .pomodoro-today-list_display_estimated.ui.label {
      &.finished {
        background: #cacaca!important;
      }
      border-top-left-radius: 0;
      font-weight: normal;
      padding: 0.5em 1em;
      background-color: rgba(242, 113, 28, 0.87)!important;
    }
    &.ui.segment {
      padding-bottom: 0;
      // padding-top: 0;
    }
    &.ui.segment:first-child {
      margin-top: 15px;
    }
    &.over {
      * {
        pointer-events: none;
      }
      &.no-over {
        background: #fff!important;
      }
      &.drag-top {
          background: linear-gradient(to bottom, $orange, $light-orange 5%, white 40%);
      }
      &.drag-bottom {
          background: linear-gradient(to top, $orange, $light-orange 5%, white 40%);
      }
    }
    border: 1px solid #ccc;
    border-width: 0;
    border-top-width: 1px;
    padding: 10px;
  }
  &_display {
    // margin-bottom: 20px;
    &_name {
      // font-size: 16px;
    }
    &_img {
      height: 36px;
    }
    &_note {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    &_estimated_total.ui.message {
      text-align: center;
      margin-bottom:0;
      padding-top: 0.85em;
      padding-bottom: 0.85em;
      font-weight: bold;
      position: relative;
      z-index: 2;
      span {
        position: relative;
        z-index: 2;
      }
      .progress {
        transition: width 1s;
        content: '';
        z-index: 1;
        border-radius: 3px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: $light-orange;
      }
    }
  }
  &_timer-edit {
    opacity: 0;
    // transition: opacity 0.3s;
    position: absolute;
    top: 15px;
    right: 60px;
    text-align: right;
    margin-right: -10px;
    margin-top: -10px;
    .ui.label {
      &:hover {
        cursor: pointer;
      }
    }
    .ui.label > .icon {
      margin: 0;
    }

  }
}

.pomodoro-clock {
  &-new.ui.label {
    border-top-left-radius: 0;
  }
}

.pomodoro-util {
  &_cover {
    flex-shrink: 0;
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: -9px;
    z-index: 10;
    background: linear-gradient(to bottom, #fff, rgba(255,255,255,0.1));
    &.above {
      margin-bottom: 0px;
      height: 20px;
      margin-top: -9px;
      background: linear-gradient( rgba(255,255,255,0.1), #fff);
    }
  }
}

#pomodoro-today-list {
  .pomodoro-today-list_item.ui.segment {
    padding-top: 0;
  }
}

#pomodoro-today-list.fold {
  .pomodoro-today-list_item.ui.segment {
    padding-top: 10px;
  }
}