@import "./components/variable";

$orange: rgba(242,113,28, 0.53);
$light-orange: rgba(242,113,28, 0.23);

html, body {
  height: 100%;
  margin: 0;
}

body {
  padding: 10px;
}

#pomodoro-app {
  height: 100%;
  padding-top: 55px;
  & .hide {
    display: none;
  }
}
#pomodoro-container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#pomodoro {
  &-task {
    border-top-color: $green-hover;
    // parent
    display: flex;
    flex-direction: column;

    // child
    flex-grow: 0;
    border-right-width: 0;
    width: 250px;

    &_items {
      margin-top: 0;
      overflow-y: auto;
      flex-grow: 1;
    }
  }
  &-today {
    // parent 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    // child
    flex-grow: 0;
    &-operate {
      margin-top: 10px;
      padding-bottom: 13px;
      &_group {
        float: right;
      }
    }
    &-list {
      flex-grow: 1;
      margin-top: 0;
      margin-bottom: 0;
      &.empty {
        background: repeating-linear-gradient(-45deg, #efefef, #efefef 8px, white 2px, white 13px);
      }
      &::-webkit-scrollbar { width: 0 !important }
      min-height: 80px;
      overflow-y: auto;
    }
  }
  &-clock {
    // parent
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
    // child
    overflow-y: auto;
    flex-grow: 1;
  }
  &-note {
    margin-top: 20px;
    flex-grow: 1;
  }
}

.pomodoro-task {
  &_item {
    &.teal.ui.segment {
      border-top-color: $green-hover;
    }
    cursor: pointer;
    &.ui.segment:first-child {
      margin-top: 20px;
    }
    &.ui.segment {
      padding: 10px 36px 10px 10px;
    }
    &.assigned {
      background: #fafafa;
    }
    $height: 30px;
    overflow: hidden;
    font-size: 16px;
    border: 1px solid #ccc;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    min-height: $height;;
    vertical-align: middle;
    &:first-child {
      border-top-width: 1px;
    }
    &-content {
      margin-bottom: 0.6em;
      word-wrap: break-word;
      word-break: normal;
      &_delete {
        position: absolute;
        top: 12px;
        right: 3px;
        &.ui.label > .icon {
          margin: 0;
        }
        float: right;
      }
    }
    &_remove {
      float: right;
    }
  }
}

.pomodoro-today-list {
  &_operate {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 3px;
    .ui.label {
      &:hover {
        cursor: pointer;
      }
    }
    .ui.label > .icon {
      margin: 0;
    }
    &_close {
      background: #bdbdbd!important;
    }
  }
  &_item {
    cursor: pointer;
    .pomodoro-today-list_display_estimated.ui.label {
      border-top-left-radius: 0;
      font-weight: normal;
      padding: 0.5em 1em;
    }
    &.ui.segment {
      padding-bottom: 0;
    }
    &.running {
      // border: 1px solid #f26202;
    }
    &.ui.segment:first-child {
      margin-top: 15px;
    }
    &.over {
      * {
        pointer-events: none;
      }
      &.no-over {
        background: #fff!important;
      }
      &.drag-top {
          background: linear-gradient(to bottom, $orange, $light-orange 5%, white 40%);
      }
      &.drag-bottom {
          background: linear-gradient(to top, $orange, $light-orange 5%, white 40%);
      }
    }
    border: 1px solid #ccc;
    border-width: 0;
    border-top-width: 1px;
    padding: 10px;
  }
  &_display {
    margin-bottom: 20px;
    &_name {
      // font-size: 16px;
    }
    &_img {
      height: 36px;
    }
    &_note.ui.segment {
      margin-top: 1em;
      margin-bottom: 2em;
    }
    &_estimated_total.ui.message {
      text-align: center;
      margin-bottom:0;
      padding-top: 0.85em;
      padding-bottom: 0.85em;
      font-weight: bold;
    }
  }
  &_timer-edit {
    position: absolute;
    top: 15px;
    right: 60px;
    text-align: right;
    margin-right: -10px;
    margin-top: -10px;
    .ui.label {
      &:hover {
        cursor: pointer;
      }
    }
    .ui.label > .icon {
      margin: 0;
    }

  }
}

.pomodoro-clock {
  &-new.ui.label {
    border-top-left-radius: 0;
  }
}

.pomodoro-util {
  &_cover {
    flex-shrink: 0;
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: -9px;
    z-index: 10;
    background: linear-gradient(to bottom, #fff, rgba(255,255,255,0.1));
    &.above {
      margin-bottom: 20px;
      height: 20px;
      margin-top: -9px;
      background: linear-gradient( rgba(255,255,255,0.1), #fff);
    }
  }
}