<% include _header %>


<div class="ui three column grid centered">
  <div class="column">
    <h1>Log in</h1>
    <form class="ui form" action="/login" method="post">
      <div class="field">
        <label for="">User Name</label>
        <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
      </div>
      <div class="field">
        <label for="">password</label>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
      </div>
      <input type="submit" value="Log in" class="ui button primary">
      <a href="/signup" class="ui button">Register</a>

    </form>
  </div>
</div>

<% include _footer %>