<% include _header %>
    <div class="" style="height: 100%;">
        <div class="ui fixed inverted menu">
            <div class="header item">
                <img src='/imgs/tomato.svg' class="image">
                POMODORO DOIT!
            </div>
            <div class="item">
                welcome! <%= currentUser.username %>
            </div>
            <div class="item right">
                <a href="/logout">Log out</a>
            </div>
        </div>
        <div class="" id="pomodoro-app"></div>
    </div>
    <script>

        toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "1000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
        }
    </script>
    <script src="<%= manifest.pomodoro.js.replace(/\.\/static/, '') %>"></script>

<% include _footer %>