<% include _header %>
    <style>
        .ui.fixed.menu .item {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        #pomodoro-app-loading {
            margin-top: 200px;
            border: 0!important;
            box-shadow: inherit!important;
        }
    </style>
    <div class="pomodoro-headers" style="height: 100%;">
        <div class="ui fixed menu">
            <div class="header item">
                <img src='/imgs/tomato.svg' class="image">
                POMODORO DOIT!
            </div>

            <div class="ui simple dropdown item">
                welcome! <%= currentUser.username %>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="/user/profile" class="item">Profile</a>
                </div>
            </div>

            <div class="item right">
                <a href="/logout" style="color: rgba(0,0,0,.87);">Log out</a>
            </div>
        </div>

        <audio style="display: none;" id="notice-voice" controls="controls">
            <source src="/imgs/notice.mp3" type="audio/mpeg">
            <embed height="100" width="100" src="/imgs/notice.mp3" />
        </audio>

        <div class="" id="pomodoro-app">
            <div id="pomodoro-app-loading" class="ui container segment loading"></div>
        </div>
    </div>
    <script>

        toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "1000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
        }
    </script>
    <script src="<%= manifest.pomodoro.js.replace(/\.\/static/, '') %>"></script>

<% include _footer %>