<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div id="pomodoro-app" class="container">
        <div class="row">
            <div class="col-sm-3">
                <task-list></task-list>
            </div>
            <div class="col-sm-3">
                <task-today></task-today>
            </div>
            <div class="col-sm-6">
                <pomodoro></pomodoro>
            </div>
        </div>
    </div>
    <script src="/bundle/pomodoro.js"></script>
</body>
</html>