<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/pomodoro/pomodoro.css">
    <script src="/mithril.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <task-list></task-list>
            </div>
            <div class="col-sm-3">
                <task-today></task-today>
            </div>
            <div class="col-sm-6">
                <pomodoro></pomodoro>
            </div>
        </div>
    </div>
    <script src="/pomodoro/pomodoro.js"></script>
    <script src="/pomodoro/pomodoro-task.js"></script>
    <script src="/pomodoro/pomodoro-today.js"></script>
    <script src="/pomodoro/pomodoro-clock.js"></script>
</body>
</html>