<% include _header %>

    <div class="" style="height: 100%;">
        <div class="ui fixed inverted menu">
            <div class="header item">
                <img src='/imgs/tomato.svg' class="image">
                POMODORO DOIT!
            </div>
            <div class="ui simple item">
                welcome! <%= currentUser.username %>
            </div>
            <div class="item right">
                <a href="/logout">Log out</a>
            </div>
        </div>

        <audio id="notice-voice" controls="controls">
            <source src="/imgs/notice.mp3" type="audio/mpeg">
            <embed height="100" width="100" src="/imgs/notice.mp3" />
        </audio>

    </div>
<% include _footer %>