#pomodoro-add {
    // child
    flex-grow: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    &-item_input {
        margin-right: 10px;
        width: 100%;
    }
    &_buttons {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    }
}

