@import "variable";

#pomodoro-add {
    // child
    flex-grow: 0;
    padding-bottom: 10px;
    &-item_input {
        margin-right: 10px;
        width: 100%;
    }
    &_buttons {
        &_todo {
            &:hover {
                background-color: $green-hover;
            }
            background-color: $green;
        }
        margin-top: 10px;
        display: flex;
        // justify-content: space-between;
        justify-content: flex-end;
        
    }
}

