.pomodoro-clock {
    &_edit {
        text-align: center;
    }
    &_empty {
        text-align: center;
    }
    &-icon {
        margin-top: 3em;
    }
    &-title {
        color: #F2711C!important;
    }
    &_view_progress {
        font-family: cursive;
        text-align: center;
        margin-bottom: 30px;
    }
}