.pomo {
    margin-top: 10px;
    display: flex;
    position: relative;
}
.pomo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_start {
        position: absolute!important;
        right: -9px;
        top: 2px;
        .play.icon:before {
            padding-left: 2px;
        }
    }
}